.map {
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.map iframe {
    display: block;
    width: 100%;
    height: 600px;
    margin-top: 25px;
}
.past-list li{
    list-style-type: disc;
	margin-left: 24px;
	text-align: left;
}
.number-list li{
    list-style-type: decimal;
}
.main{
    line-height: 1.5;
}

